.finished {
  height: 40vh;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 12px;
  color: white;
}
.finished_title {
  appearance: none;
  font-size: 3rem;
  font-weight: 600;
}
.finished_btns {
  display: flex;
  gap: 12px;
}

@media (max-width: 500px) {
  .finished {
    gap: 0;
  }
  .finished_title {
    appearance: none;
    font-size: 2rem;
    font-weight: 600;
  }
  .finished_btns {
    flex-direction: column;
  }
}
