.container {
  text-align: center;
}

.game_container {
  margin: 0 auto;
  display: grid;
  gap: 12px;
  padding: 0.25rem;
}

.bush {
  background-color: rgba(0, 0, 0, 0);
  color: bisque;
  font-weight: 600;
  font-size: large;
  border-width: 0;
  border-radius: 1rem;
  height: 100%;
  width: auto;
  margin: auto;
  transition: background-color transform 0.5s;
}

.bush:hover {
  transform: scale(1.05);
  transition: background-color transform 0.25s ease-in;
}
.bush:focus:not(:active) {
  animation: scaleUpDown 0.3s ease-in;
}

.bush_highlight {
  animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite !important;
  transform: translate3d(0, 0, 0) scale(1.2);
  backface-visibility: hidden;
  perspective: 1000px;
}

.bush_fail {
  background-color: red !important;
  transform: scale(0.95);
  animation: bush_fail 2 0.5s;
}

.bush_right {
  background-color: blue !important;
  animation: bush_right 1 0.5s;
}

.bush_ok {
  background-color: rgba(8, 170, 8, 0.2);
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bush_fail {
  0% {
    transform: rotateZ(4deg);
  }
  50% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(4deg);
  }
}

@keyframes bush_right {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
