.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  padding: 1rem;
  gap: 1rem;
}

.cell {
  border: none;
  border-radius: 1rem;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: wheat;
}
