.game {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;    
}

.chess {
    display: grid;
    grid-template:repeat(8,1fr) / repeat(8,1fr) ;
}
.wrapper {

    position: relative;
    z-index: 100;
}
.chess_cell {
    position: relative;
    width: 40px;
    height: 40px;
    
}
.chess_cell.white {
    background-color: #b3d4fc;
}
.chess_cell.black {
    background-color: #01579b;
}

.horse {
    transition: 0.4s;
    width: 100%;
    height: 100%;
}
.title {
    margin: 10px 0;
}
.subtitle {
    margin: 6px 0;
}
.btn {
    margin-top: 10px;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.loose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    transform: translateY(-50%);
    font-size: 50px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}
.button_again {
    font-size: 20px;
    margin-top: 10px;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(44, 71, 205);
    border-radius: 8px;
}
