.page {
  background-image: url(../../public/bg/default.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
}
.menu {
  visibility: hidden;
  width: 0;
  height: 0;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: center;
}
.levels {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
  margin-bottom: 47px;
  gap: 15px;
}
.levels__element {
  cursor: pointer;
  display: flex;
  background-color: #d2e646;
  border-radius: 100%;
  width: 73px;
  height: 73px;
  justify-content: center;
  transition: 0.2s;
}
.levels__element.active {
  background-color: rgb(28, 244, 82);
}

.levels__element.not_active {
  background-image: url(../../public/icons/zamok_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e03838;
}

.levels__element button {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 123px;
}
.btn {
  cursor: pointer;
  max-width: 550px;

  background: #94604c;
  border: 10px solid #c1c1c1;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.6);
  border-radius: 38px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.btn__text {
  padding: 0 30px;
  font-family: 'Moyenage';
  font-style: normal;
  font-weight: 400;
  font-size: 129px;
  color: #ffffff;

  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
}
.slider {
  margin: 0 auto;
  margin-top: 67px;
  position: relative;
  display: inline-block;
  max-width: 915px;
}
.slider_track {
  padding-left: 35px;
  display: flex;
  gap: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.slider__item {

  cursor: pointer;
  transition: 0.4s;
  min-width: 235px;
  height: 194px;
  background: #95614d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.53);
  border-radius: 27px;
  border: 10px solid #c1c1c1;
}

.slider__item button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 27px;
  background: url();
  cursor: pointer;
}

.slider__button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  position: absolute;
  top: 25%;
  font-size: 80px;
}
.slider__prev {
  cursor: pointer;
  left: -40px;
}
.slider__next {
  cursor: pointer;
  right: -40px;
}
.levels__element:hover {
  transform: scale(1.08);
}

@media (max-width: 1015px) {
  .slider {
    max-width: 604px;
  }
  .levels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }
  .btn {
    max-width: 300px;
    border: 8px solid #c1c1c1;
  }
  .btn__text {
    font-size: 80px;
    padding: 0;
  }
}
@media (max-width: 715px) {
  .slider {
    max-width: 305px;
    margin-top: 20px;
  }
  .levels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: -65px;
  }
  .btn {
    border: 6px solid #c1c1c1;
    max-width: 300px;
  }
  .btn__text {
    font-size: 80px;
    padding: 0;
  }
  .levels__element:last-child {
    visibility: hidden;
  }

  .burger_open_menu {
    width: 10px;
    height: 10px;
    position: fixed;
    top: 60px;
    left: 45px;
    z-index: 10;
  }
  .menu_upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .menu {
    transition: 0.4s;
    visibility: visible;
    background-color: #313131a9;
    width: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }
  .menu.active {
    width: 235px;
  }
  .logo_menu {
    margin: 15px 0 0 20px;
    font-size: 20px;
  }
  .burger_close_menu {
    position: relative;
    width: 70px;
    height: 70px;
  }
  .burger_close_menu span::before,
  .burger_close_menu span::after {
    top: 30px;
    left: 10px;
    content: '';
    position: absolute;
    width: 50px;
    height: 7px;
    background-color: black;
    border-radius: 4px;
  }
  .burger_close_menu span::before {
    transform: rotate(45deg);
  }
  .burger_close_menu span::after {
    transform: rotate(-45deg);
  }

  .menu_elements {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1002;
    color: #fff;
    font-size: 20px;
  }
  .menu__item {
    line-height: 55px;
    width: 205px;
    height: 64px;
    background-color: #94604c;
    border: 4px solid #c1c1c1;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.6);
    border-radius: 38px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Moyenage';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
  .burger_open_menu span,
  .burger_open_menu span::before,
  .burger_open_menu span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -10px;
    border-radius: 5px;
    width: 50px;
    height: 10px;
    background-color: black;
  }
  .burger_open_menu span::before,
  .burger_open_menu span::after {
    content: '';
    top: 10px;
  }
  .burger_open_menu span::before {
    transform: translateY(-15px);
  }
  .burger_open_menu span::after {
    transform: translateY(15px);
  }
}
@media (max-width: 440px) {
  .slider {
    max-width: 230px;
  }
  .slider__item {
    min-width: 160px;
    height: 150px;
    border: 8px solid #c1c1c1;
  }
  .btn {
    border: 4px solid #c1c1c1;
    max-width: 200px;
  }
  .btn__text {
    font-size: 50px;
  }
}
@media (max-width: 340px) {
  .slider__button {
    font-size: 0;
    height: 60px;
    width: 60px;
  }
  .header {
    visibility: hidden;
  }
  .levels {
    margin-bottom: -50px;
  }
  .slider {
    max-width: 150px;
  }
  .slider_track {
    padding-left: 20px;
  }
  .slider__item {
    border: 6px solid #c1c1c1;
    min-width: 110px;
    height: 110px;
  }
  .levels__element {
    width: 55px;
    height: 55px;
  }

  .levels__element span {
    line-height: 60px;
    font-size: 30px;
  }
  .btn {
    border: 3px solid #c1c1c1;
    max-width: 180px;
  }
  .btn__text {
    font-size: 40px;
  }
}
